<footer class="p-10 bg-gradient-to-r from-purple-500 via-blue-500 to-purple-500">
   <div class="grid grid-cols-3 items-center justify-center ml-10">
      <div class="block">
         <h3 class="text-white">Edidiong</h3>
         <span class="flex flex-col">
            <a class="text-gray-200 text-base" href="#">Full stack Developer</a>
            <a class="text-gray-200 text-base" href="#">Mobile App Developer</a>
            <a class="text-gray-200 text-base" href="#">Graphic Designer and Instructor</a>
         </span>
      </div>
      <div class="block">
         <h3 class="text-white">Home</h3>
         <span class="flex flex-col">
            <a class="text-gray-200 text-base" href="{% url 'about' %}">About</a>
            <a class="text-gray-200 text-base" href="{% url 'resume' %}">Resume</a>
            <a class="text-gray-200 text-base" href="{% url 'contact' %}">Contact</a>
         </span>
      </div>
      <div class="block">
         <h3 class="text-white">GET IN TOUCH</h3>
         <span class="flex flex-col">
            <a class="text-gray-200 text-base" href="tel: +234 803 332 3738">+234 803 332 3738</a>
            <a class="text-gray-200 text-base" href="mailto: info@edimars.com">info@edimars.com</a>
            <a class="text-gray-200 text-base" href="#">Feedback</a>
         </span>
      </div>
   </div>

   <div class="bg-gray-300 mt-10 mb-6">
      <p class="flex flex-nowrap text-center text-balance hover:text-blue-800 transition duration-100 delay-75 justify-center">Copyright &copy; @ <span class="gap-2 ml-2 text-blue-700">Marcus Edidiong Cletus</span> - All Rights Reserved - <script>document.writeln(new Date().getFullYear());</script></p>
   </div>
</footer>