<footer class="p-10 bg-blue-300 ">
    <div class="grid grid-cols-3 items-center justify-center ml-10">
       <div class="">
          <h3>Edidiong</h3>
          <span class="flex flex-col">
            <a href="#">Full stack Developer</a>
            <a href="#">Full stack Developer</a>
            <a href="#">Full stack Developer</a>
          </span>
       </div>
       <div class="">
          <h3>Edidiong</h3>
          <span class="flex flex-col">
            <a href="#">Full stack Developer</a>
            <a href="#">Full stack Developer</a>
            <a href="#">Full stack Developer</a>
          </span>
       </div>
       <div class="">
          <h3>Edidiong</h3>
          <span class="flex flex-col">
            <a href="#">Full stack Developer</a>
            <a href="#">Full stack Developer</a>
            <a href="#">Full stack Developer</a>
          </span>
       </div>
    </div>
</footer>