


{% load static %}

<header id="header" class="nav flex items-center justify-between min-h-10 w-full shadow p-4 fixed left-0 top-0 z-100">
    <div class="nav-2nd flex items-center justify-between gap-40">
        <a href="{% url 'home' %}" class="nav-logo flex items-center gap-1">
          <img src="{% static 'assets/images/favicon3.ico' %}" alt="Logo">
          <strong class="text-design uppercase text-2xl font-semibold font-serif">Edidiong</strong>  
        </a>

        <div class="phone-items flex items-center gap-1">
          <span class="text-2xl text-slate-500 font-semibold"><i class='bx bx-phone'></i></span>
          <p class="font-semibold flex-nowrap">+234 (0) 702 626 6495</p>
        </div>

        <div class="nav-image-links flex items-center justify-evenly gap-8">
          <div class="uil-home-icons flex items-center gap-1">
            {% if user.is_authenticated %}
              <a href="{% url 'home' %}"><i class="uil uil-home text-2xl text-slate-500 hover:text-teal-400 font-semibold" title="Home"></i></a>
            {% else %}
              <a href="{% url 'dashboard' %}"><i class='bx bx-user text-2xl text-slate-500 hover:text-teal-400 font-semibold' title="Dashboard"></i></a>
            {% endif %}
          </div>

   
    
          <div class="navLinks gap-4">
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}"><i class='bx bx-log-out text-2xl text-slate-500 hover:text-teal-400 font-semibold' title="Logout"></i></a> 
            {% else %}
              <a href="{% url 'register' %}"><i class='bx bxs-lock text-2xl text-slate-500 hover:text-teal-400 font-semibold' title="Signup"></i></a> 
              <a href="{% url 'login' %}"><i class='bx bx-log-in text-2xl text-slate-500 hover:text-teal-400 font-semibold' title="Login"></i></a> 
            {% endif %}
          </div>
          
        </div>
    </div>

   

   

</header>


    
    

    