<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon3.ico' %}" type="image/x-icon">
    <title>Edidiong&apos; Login</title>
    <link rel="stylesheet" href="{% static 'styles/auth/auths-login-signup.css' %}">
</head>
<body>
    <header>
        <div class="">
           <img src="{% static 'assets/images/favicon3.ico' %}" alt=""> 
           <h1>Edidiong&apos; Login</h1>
        </div>

        <div class="">
           <a href="{% url 'logout' %}">Logout</a> | 
        </div>
    </header>
   
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <div class="">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Remember me</label>
        </div>  

        <div class="">
           <p>Don't have an account? <a href="{% url'signup' %}">Sign up</a></p> 
           <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>

        <input type="submit" class="btn" value="Login">
    </form>
    <footer>
        
    </footer>
    <script src="{% static 'script/auth/auths.js' %}"></script>
</body>
</html>