{% extends 'main/base.html' %}

{% load compress %}

{% load static %}

{% block title %} |Login {% endblock title %}

{% block content %}  
    <main class="login-page mt-36">
        <h2 class="mt-10 mb-6 flex text-center justify-center text-2xl font-semibold border-b-2">Login Here</h2>
        <form id="form-control" class="mt-10 bg-[#eee] mb-10 p-10 rounded-lg w-[90%]" action="." method="POST">
          {% csrf_token %}
                
            <div class="ml-[20%]">
                <div class="login-box relative top-4 mt-6 mb-5 flex flex-col sm:flex sm:flex-col">
                    <label for="username" class="mb-4 font-semibold text-slate-500 hover:text-slate-800 text-xl">Username:</label>
                    <input type="text" id="username" name="username" class="w-[80%] sm:-[60%] ml-8 p-4 rounded-xl text-2xl bg-amber-100 text-gray-700 border-none outline-none" required> 
                    <span class="absolute top-15 left-0"><i class='bx bx-user text-teal-600 text-2xl font-semibold'></i></span>
                    <span class="absolute top-24 mt-4 mb-4 hidden">
                        <i class='bx bx-check text-2xl font-semibold text-green-700' id="success"></i>
                        <i class='bx bx-error-circle text-2xl font-semibold text-green-700' id="message"></i>
                        <i class='bx bx-x text-2xl font-semibold text-green-700' id="error"></i> 
                    </span>
                </div>
                    
                <div class="login-box mt-14 mb-6 flex flex-col sm:flex sm:flex-col">
                    <label for="password" class="mb-4 font-semibold text-slate-500 hover:text-slate-800 text-xl">Password:</label>
                    <div class="flex items-center ">
                        <span class="absolute top-4/5 mt-6 bottom-0"><i class='bx bxs-lock text-teal-600 text-2xl font-semibold'></i></span>  
                        <input type="password" id="password" name="password" class="w-[80%] sm:-[60%] ml-8 p-4 rounded-xl text-2xl bg-amber-100 text-gray-700 border-none outline-none" required> 
                    </div>
                    <span class="mt-3 mb-0 hidden sm:top-[68%]">
                        <i class='bx bx-check text-2xl font-semibold text-green-700' id="success"></i>
                        <i class='bx bx-error-circle text-2xl font-semibold text-green-700' id="message"></i>
                        <i class='bx bx-x text-2xl font-semibold text-green-700' id="error"></i> 
                    </span>
                </div>
                    
                <div class="loxus mt-2 flex text-center justify-center text-pretty gap-1">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>  
    
                <div class="loxus flex items-center justify-evenly -ml-[20%] mt-6">
                    <p>Don't have an account? <a href="{% url 'signup' %}" class="flex-nowrap text-xl font-semibold text-blue-600 hover:text-blue-900 transition-150 ease-in-out duration-150">Sign up</a></p> 
                    <p>Forgot password? <a href="{% url 'forgot' %}" class="flex-nowrap text-xl font-semibold text-blue-600 hover:text-blue-900 transition-150 ease-in-out duration-150">Sign In Instead</a></p>
                </div>
    
                <input type="submit" class="btn px-8 py-4 w-[70%] outline-4 outline-offset-4 outline-gray-500 bg-gradient-to-br from-purple-500 via-blue-500 to-orange-500 hover:bg-blue-900 transition ease-in-out duration-150 uppercase cursor-pointer text-white font-semibold rounded mb-10 mt-6 ml-10" value="Login">
      
            </div>
        </form>
   </main>   



   <!-- <div class="">
        <form>
            <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
            </div>
            <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
            <input data-popover-target="popover-password" data-popover-placement="bottom" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            <div data-popover id="popover-password" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                <div class="p-3 space-y-2">
                    <h3 class="font-semibold text-gray-900 dark:text-white">Must have at least 6 characters</h3>
                    <div class="grid grid-cols-4 gap-2">
                        <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                        <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                        <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                        <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                    <p>It’s better to have:</p>
                    <ul>
                        <li class="flex items-center mb-1">
                            <svg class="w-3.5 h-3.5 me-2 text-green-400 dark:text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                            </svg>
                            Upper & lower case letters
                        </li>
                        <li class="flex items-center mb-1">
                            <svg class="w-3 h-3 me-2.5 text-gray-300 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            A symbol (#$&)
                        </li>
                        <li class="flex items-center">
                            <svg class="w-3 h-3 me-2.5 text-gray-300 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            A longer password (min. 12 chars.)
                        </li>
                    </ul>
            </div>
            <div data-popper-arrow></div>
        </div>
            </div>
            <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
            </div>
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
   </div> -->
   <script src="{% static 'scripts/auth/auths.js' %}"></script> 
{% endblock content %}
    