{% extends 'main/base.html' %}

{% load compress %}

{% load static %}

{% block title %} | Forgot Password{% endblock title %}


{% block content %}  
    <main class="login-page-pass mt-36">
        <h2 class="mt-10 mb-[10%] flex text-center justify-center text-2xl font-semibold border-b-2">Reset Password</h2>
        <form id="form-control" class="mt-10 bg-[#eee] mb-10 p-10 rounded-lg w-[100%]" action="." method="POST">
          {% csrf_token %}
                
            <div class="ml-30%">
                <div class="login-box-pass relative top-4 mt-6 mb-5 flex flex-col sm:flex sm:flex-col">
                    <div class="flex items-center text-cyan-600 mb-6 p-6 w-[100%]">
                        <i class='bx bxs-envelope text-teal-600 text-2xl font-semibold'></i>
                        <strong class="w-[100%] rounded">{{ form.as_p }}</strong>
                    </div>
                    <span class="absolute top-15 left-0"></span>
                    <span class="absolute top-24 mt-4 mb-4 hidden">
                        <i class='bx bx-check text-2xl font-semibold text-green-700' id="success"></i>
                        <i class='bx bx-error-circle text-2xl font-semibold text-green-700' id="message"></i>
                        <i class='bx bx-x text-2xl font-semibold text-green-700' id="error"></i> 
                    </span>
                </div> 
    
                <div class="loxus-pass flex items-center justify-evenly gap-20 mt-2">
                    <p>Don't have an account? <a href="{% url 'signup' %}" class="flex-nowrap text-xl font-semibold text-blue-600 hover:text-blue-900 transition-150 ease-in-out duration-150">Sign up</a></p> 
                </div>
    
                <input type="submit" class="btn-password-reset px-8 py-4 w-[70%] hover:bg-blue-900 outline-4 outline-offset-4 outline-gray-500 bg-gradient-to-br from-purple-500 via-blue-500 to-orange-500 transition ease-in-out duration-150 uppercase cursor-pointer text-white font-semibold rounded mb-10 mt-6 ml-10" value="Reset by email">  
            </div>

        </form>
   </main> 
   <script src="{% static 'scripts/auth/auths.js' %}"></script>   
{% endblock content %}