{% extends 'main/base.html' %}

{% load static %}


{% block title %}Edidiong | Password Reset Confirmation{% endblock title %}
    


{% block content %}
    <div class="password-reset-header block items-center justify-center mt-[10%]">
        <div class="header">
            <h1>Password Reset Email Sent</h1>
        </div>
        <div class="content">
            <p>We've sent a password reset email to your email address.</p>
            <p class="">Please check your email inbox and follow the instructions to reset your password.</p>
            <p class="">If you don't see the email, please check your spam folder.</p>
        </div>
    </div>
{% endblock content %}