{% extends 'main/base.html' %}

{% load static %}


{% block title %}Edidiong | Password Reset Complete{% endblock title %}
    


{% block content %}
    <div class="block items-center justify-center mt-[10%]">
        <div class="header">
            <h1>Password Reset Complete</h1>
        </div>
        <div class="content">
            <p>Your password has been successfully reset.</p>
           
            <p class="">You can now <a href="{% url 'login' %}">Login</a> with your new password.</p>
        </div>
    </div>
{% endblock content %}