{% extends 'main/base.html' %}

{% load compress %}

{% load static %}

{% block title %} |Portfolio {% endblock title %}



{% block content %}
   <div class="flex mt-40">
     <h2>Portfolio</h2>
      
     <i class='bx bxs-image-alt'></i>
      <i class='bx bx-arrow-to-bottom'></i>
      <i class='bx bxs-videos'></i>
      <i class='bx bx-book-reader'></i>
      <i class='bx bxs-printer'></i>
      <i class='bx bxs-heart'></i>
      <i class='bx bx-message-square-add text-black'></i>
      <i class='bx bxs-download'></i>
      <i class='bx bxs-certification'></i>
                  <i class='bx bx-at'></i>
                  <i class='bx bx-code-alt'></i>
      <i class='bx bxs-graduation'></i>
      <i class="uil uil-bag"></i>

      <i class='bx bx-current-location' style="color: #000;"></i>
            
           <i class='bx bxs-graduation'></i>
           <i class="uil uil-smile"></i>
           <i class="uil uil-gift"></i>
            <i class="uil uil-bag"></i>
            <i class='bx bx-award'></i>
   </div>
   <script src="{% static 'scripts/js/Portfolio.js' %}"></script>
{% endblock content %}
