{% extends 'main/base.html' %}

{% load compress %}

{% load static %}

{% block title %} |Portfolio {% endblock title %}



{% block content %}
      <div class="nav-icons flex items-center gap-2 mb-6 mt-[10%] sm:mt-[20%] md:mt-[15%] lg:mt-[10%] float-end bg-[#eee]">
         <a href="{% url 'about' %}" title="About"><i class='bx bx-user text-2xl text-blue-700 hover:text-cyan-700 transition duration-150 delay-100'></i></a>
         <a href="{% url 'resume' %}" title="Resume"><i class="uil uil-file-alt text-2xl text-blue-700 hover:text-cyan-700 transition duration-150 delay-100"></i></a>
         <a href="{% url 'port-folio' %}" title="Portfolio"><i class="uil uil-bag text-2xl text-blue-700 hover:text-cyan-700 transition duration-150 delay-100"></i></a>
         <a href="{% url 'services' %}" title="Services"><i class='bx bx-server text-2xl text-blue-700 hover:text-cyan-700 transition duration-150 delay-100'></i></a>
         <a href="{% url 'contact' %}" title="Contact"><i class='bx bx-envelope text-2xl text-blue-700 hover:text-cyan-700 transition duration-150 delay-100'></i></a>
      </div>

      <div class="mt-3"></div>


   <div class="flex mt-40">
     <h2>Portfolio</h2>
      
     <i class='bx bxs-image-alt'></i>
      <i class='bx bx-arrow-to-bottom'></i>
      <i class='bx bxs-videos'></i>
      <i class='bx bx-book-reader'></i>
      <i class='bx bxs-printer'></i>
      <i class='bx bxs-heart'></i>
      <i class='bx bx-message-square-add text-black'></i>
      <i class='bx bxs-download'></i>
      <i class='bx bxs-certification'></i>
                  <i class='bx bx-at'></i>
                  <i class='bx bx-code-alt'></i>
      <i class='bx bxs-graduation'></i>
      <i class="uil uil-bag"></i>

      <i class='bx bx-current-location' style="color: #000;"></i>
            
           <i class='bx bxs-graduation'></i>
           <i class="uil uil-smile"></i>
           <i class="uil uil-gift"></i>
            <i class="uil uil-bag"></i>
            <i class='bx bx-award'></i>

            <span class="absolute top-24 left-0"><i class='bx bxs-envelope text-teal-600 text-2xl font-semibold'></i>Envelope</span>
     <span class="absolute top-30 left-0"><i class='bx bx-user text-teal-600 text-2xl font-semibold'></i>User</span>
   </div>
   <script src="{% static 'scripts/js/Portfolio.js' %}"></script>
{% endblock content %}
