{% extends 'main/base.html' %}

{% load static %}

{% block title %} | Registration {% endblock title %}

<main class="mx-auto items-center p-8">
 {% block content %}
   

   <div class="block items-center justify-around bg-gradient-to-t from-gray-400 via-rose-200 to-yellow-300 p-16 w-[70%] ml-[15%] mt-[10%]">
         
       <h2 class="ml-[43%] mb-4 text-rose-950 text-xl font-semibold font-serif">Reset Password</h2>
         <div class=" flex items-center justify-center mt-6 mb-4 bg-gray-50 p-4 rounded-md w-[50%]">
            {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                      <span><h4 class="text-rose-700">{{ message }}</h4></span>
                    {% else %}
                      <span><h4 class="text-blue-500">{{ message }}</h4></span>
                    {% endif %}
                {% endfor %}  
            {% endif %}        
         </div>
      <form method="post" class="bg-amber-50 p-8 rounded-md shadow-2xl">
            {% csrf_token %}
            
            <div class="flex items-center justify-evenly bg-gray-50 p-[2%] gap-1 rounded-md">
            <input type="password" class="bg-slate-800 p-2 w-[60%] rounded-md outline-none border-t-none border-l-0 border-r-0 border-b-2 text-white" name="password" placeholder="Enter your password" required>  
            </div>

            <div class="flex items-center justify-evenly bg-gray-50 p-[2%] gap-1 rounded-md">
            <input type="password" class="bg-slate-800 p-2 w-[60%] rounded-md outline-none border-t-none border-l-0 border-r-0 border-b-2 text-white" name="confirm_password" placeholder="Confirm your password" required>  
            </div>

            <div class="">
              <p>Remember your password? <a href="{% url 'login' %}">Login</a></p>
            </div>
            
           <button type="submit" class="border-none bg-blue-900 rounded-md hover:bg-blue-600 transition duration-150 ease-in-out text-white font-serif font-semibold p-2 pyrounded-sm w-[40%] ml-[30%] cursor-pointer mt-6">Reset By Email</button>

        </form>
   </div>
 {% endblock content %}
</main> 