@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "flowbite/src/themes/default";

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: "Outfit", sans-serif;
}


.close {
    display: none;
}

.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.text-design {
    -webkit-text-stroke: .7px gray;
    color: transparent;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: sans-serif;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}


/** ABOUT PAGE CHART SECTION **/
#myChart {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}
.h2-text {
    text-shadow: 0px 5px 10px rgba(233, 199, 199, 0.6);
}
.open {
    display: block;
    visibility: visible;
}
.swiper {
    width: 600px;
    height: 300px;
  }
  .swiper-controls {
    display: flex;
    align-items: center;
  }



/** BREAKPOINTS **/

/** MOBILE PHONE **/
@media screen and (max-width: 790px) {
    .nav {
        display: block;
        flex-direction: column;
    }
    .container {
        position: relative;
        top: 10%;
        left: 0%;
        margin-top: 30%;
    }
    .sidebar, .sidebar-contents {
        margin-top: 5%;
        position: absolute;
        top: 0;
        bottom: 10%;
    }
    .sidebar-contents {
        margin-top: -3%;
    }
    .contents {
        display: block;
        flex-direction: column;
    }
    .texts, .text-container {
        font-size: 15px;
    }
    .social-links i {
        font-size: 16px;
    }
    /** LOGIN PAGE **/
   
    /** RESUME PAGE **/
    .resume {
        margin-top: 30%;
    }
    .nav-icons {
        margin-top: 20%;
        margin-left: -20%;
    }
}


/** TABLETS **/
@media screen and (max-width: 986px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/** TABLETS **/
@media screen and (min-width: 1024px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
